:root {
    --color: #4BA87D;
}
a{
    text-decoration:none;
    color: black;
}

.object-fit-cover {
    object-fit: contain;
    width: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


nav {
    max-width: 100%;

    .mail {
        width: 129px;
    }

    .navbar-brand {
        font-weight: 900;
        font-size: 35px;
    }

    .navbar-toggler {
        font-size: 17px;
        background-color: var(--color);
        color: white;
        border: none;
        border-radius: 0;
        font-weight: 800;
    }

    .signup-btn {
        width: 168px;
        font-size: 17px;
        background-color: var(--color);
        color: white;
        border: 2px solid transparent;
        border-radius: 0;
        margin-left: 5px;
        font-weight: 800;

        &:hover {
            background-color:white;
            color: var(--color);
            border: 2px solid var(--color);

        }
    }

    .list {
        display: flex;
        justify-content: flex-end;
    }

    .nav-link {
        padding-bottom: 0px;
        border-bottom: 5px solid var(--color);
        color: black;
        font-weight: 800;
        margin-inline: 5px;
        background-color: transparent;
    }
    .nav-link:hover{
      background-color: var(--color);
      color: white;
      transition: top 0.4s ease-out;
    }


    @media screen and (max-width: 576px) {
        .mail {
            width: 84px;
        }

        .navbar-brand {
            font-weight: 900;
            font-size: 22px;
        }

        .navbar-toggler {
            width: 110px;
            height: 25px;
            font-size: 11px;
            background-color: var(--color);
            color: white;
            border: none;
            border-radius: 0;
            font-weight: 800;
        }
    }
}

.page {
    background: url("/images/store_images/BG-stuff.png");
    max-width: 100%;
}

header {
    .row {
        position: relative;
        padding-block: 165px;
    }

    .box1 {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;

        flex-direction: column;
        padding-left: 120px;
        
    }
    .kv{
      position: absolute;
      right: 150px;
      width: 50%;
      top: 100px;
      padding: 0px;

    }
    h1 {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        width: 489px;
        font-size: 59px;
        font-weight: 900;
    }

    p {
        font-size: 19px;
        width: 446px;
        margin-bottom: 30px;
    }

    .trynow-btn {
        display: inline;
        width: 200px;
        height: 65px;
        font-size: 21px;
        background-color: white;
        color: var(--color);
        border: 2px solid var(--color);
        border-radius: 0;
        margin: 5px;
        font-weight: 900;

        &:hover {
            background-color: var(--color);
            color: white;

        }
    }

    .getademo-btn {
        display: inline;
        width: 200px;
        height: 65px;
        font-size: 21px;
        background-color: white;
        color: var(--color);
        border: 2px solid var(--color);
        border-radius: 0;
        margin: 5px;
        font-weight: 900;

        &:hover {
            background-color: var(--color);
            color: white;
            /* border: 2px solid white; */
        }

    }

    .ratio {
        z-index: 0;
        position: relative;
    }

    @media screen and (max-width: 576px) {
      .row{
        left: 0%;
        padding: 55px 0px;
        width: 100%;
      }
      .box1{
        padding-left: 0px;
        margin: auto;
      }
      .kv{
        width: 90%;
        right: 5px;
        
      }
        h1 {
            width: 284px;
            font-size: 36px;
            font-weight: 900;
        }
        .btns{
          display: flex;

        }
        .trynow-btn,
        .getademo-btn {
          width: 143px;
          height: 40px;
          flex-shrink: 0;
            font-size: 13px;
        }
        p {
        font-size: 14px;
        width: 290px;
        margin-top: 120px;
        margin-bottom: 10px;
    }


    }
}

main {
  .videoRow{
    padding-block: 120px;

  }
    .item1 {
        margin: auto;
        text-align: center;
        position: relative;
        width: 100%;
    }
    .videoText{
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
  transform: translateX(-50%);
  z-index: 2;

    }

    h2 {
        font-size: 60px;
        font-weight: 900;
        color: white;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;

    }

    .learn-btn {
        width: 200px;
        height: 65px;
        font-size: 21px;
        background-color: white;
        border: 2px solid transparent;
        color: var(--color);
        border-radius: 0;
        font-weight: 900;
        
    }
    .learn-btn:hover {
      background-color: var(--color);
      color: white;
      border: 2px solid white;
  }
    .ratio {
        margin: auto;

    }

    .card-section {
        padding-block: 160px;

        .card {
            border-radius: 0;
            height: 100%;
            margin: auto;
            box-shadow: 0 0 10px #888;
            border: none;
            transition: transform 0.3s ease-in-out;

        }

        .woman {
            position: relative;
            top: -100px;
            width: 20rem;
        }
        .card:hover {
            transform: scale(1.1); /* 當滑入時縮放卡片 */
          }
        
        .people{
            width: 20rem;

        }

        .card-a {
            display: flex;
            position: absolute;
            bottom: 5%;

            .a1 {
                color: var(--color);
                font-weight: 800;
                border-bottom: none;
            }
        }

        h3 {
            font-size: 44px;
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
            font-weight: 900;
            width: 365px;
        }
        .source{
          margin-left: 30px;

        }

        .text {
            padding-bottom: 100px;

            p {
                font-size: 19px;
                width: 322px;
                font-weight: 400;
                margin: auto;
            }
        }
    }

    .joinus {
        .img1 {
            position: relative;
            display: block;
            text-align: center;
            transition: transform 0.3s ease-in-out;

        }
        .img1:hover{
            transform: scale(1.1); /* 當滑入時縮放卡片 */
        }

        .word {
            display: flex;
            flex-direction: column;
            position: absolute;
            text-align: left;
            left: 15%;
            bottom: 0;

            h3 {
                font-size: 34px;
                font-weight: 900;
                color: white;
                margin-bottom: 0px;
            }

            p {
                font-size: 19px;
                font-weight: 700;
                color: white;
            }
        }

        & img {
            width: 342px;
            height: 239px;
            box-shadow: 0 0 10px #888;
        }

        .col-12 h3 {
            margin: 50px auto 30px auto;
            font-size: 44px;
            font-weight: 900;
            text-align: center;
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
            width: 904px;
        }
        .display{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .myForm{
            display: flex;
            justify-content: start;
            gap: 20px;
        }
        .form-control {
            height: 65px;
            font-size: 21px;
            width: 420px;

        }
        .join-btn {
            display: inline;
            width: 200px;
            height: 65px;
            font-size: 21px;
            background-color: var(--color);
            color: white;
            border: 2px solid transparent;
            border-radius: 0;
            font-weight: 900;
            text-align: center;

            /* margin-bottom: 55px; */
            &:hover {
                background-color: white;
                color: var(--color);
                border: 2px solid var(--color);
                transition: 0.3s;
            }
        }

        .word2 {
            display: block;
            color: var(--color);
            font-size: 21px;
            font-weight: 400;
            margin: 20px;
            width: 254px;
        }

    }

    @media screen and (max-width: 576px) {

      .cardsRow{
        padding-block: 0px;
      }
        .item1 {
        position: relative;
        
        } 
        .videoText{
          gap: 5px;
        }

        h2 {
            font-size: 22px;

        }
        .learn-btn {
            width: 65px;
            height: 21px;
            font-size: 6px;



        }
        .card-section {
        padding-block: 0px;
        .card {
            display: flex;
            justify-content: end;
            height: 290px;
            width: 209px;
            font-size: 12px;
            margin: 2;
        }
        .card.people{
            display: flex;
            justify-content: end;
        }
        .woman {
            top:0;
            left: -60px;
            
        }
        .people{
          top:0;
          right: -60px;
        }
        h3 {
            font-size: 28px;
            width: 232px;
            /* margin-left: 174px; */
        }
        .source{
          margin: auto;
        }
        .text {
          display: flex;
          flex-direction: column;
          gap: 15px;
            padding-bottom: 0px;
            margin-block: 50px;
            text-align: start;
            p {
                font-size: 12px;
                width: 203px;
                
            }
        }
    }
    .joinus{
      
        .img1 {
            margin-bottom: 10px;
        }
        .img1:hover{
            transform: scale(1.0); /* 當滑入時縮放卡片 */
        }
        .word {
            left: 25%;
            h3 {
                font-size: 22px;
                margin-bottom: 0px;
            }
            p {
                font-size: 12px;
            }
        }
    
        & img {
            width: 223px;
            height: 157px;
        }
        .col-12 h3 {
            font-size: 26px;
            width: 239px;
        }
        .display{
            display: flex;
            justify-content: center;
            .from{
                width: 223px;
            }
            .form-control {
            height: 42px;
            font-size: 13px;

            width: 100%;
        }
        .myForm{
            display: flex;
            flex-direction: column;
        }
            .word2{
                width: 223px;
                font-size: 12px;
                margin: 5px;
                text-align: center;
            }
            
        }
        .join{
            display: flex;
            justify-content: center;
        }
        .join-btn {
            width: 144px;
            height: 42px;
            font-size: 13px;
            margin: auto;
        }
    }

}
}
aside {

    h3 {
        margin: 50px auto;
        font-size: 44px;
        font-weight: 900;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        width: 904px;
    }
    .logos{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo{
        margin-right: 50px;

    }

    .bottom {
        background: #4BA87D;
        padding-block: 30px;
        margin-top: 100px;
        h3{
            color: white;
            font-size: 60px;
            font-weight: 900;   
            margin-top: 30px;
        }
        .plan-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 65px;
            font-size: 21px;
            background-color: white;
            color: var(--color);
            border-radius: 0;
            font-weight: 900;
            margin: auto;
            border: 2px solid transparent;
            &:hover {
                color: white;
                background-color: var(--color);
                border: 2px solid white;
                transition: 0.2s;
            }
        }

        

    }
    @media screen and (max-width: 576px) {
            h3 {
        margin: 50px auto;
        font-size: 26px;
        text-align: center;
        width: 281px;
    }
        .bottom {
            h3{
            font-size: 42px;
            width: 259px;
        }
        .plan-btn {
            width: 131px;
            height: 42px;
            font-size: 13px;
        }
            }
            .logos{
              gap: 0px;
              flex-wrap: wrap;
            }
            .logo{
                margin-top: 20px;
                margin-right: 0px;
        
            }
            .logos img {
              margin-right: 0px;
            }
            .logo1{
              order: 3;
            }
            .logo2{
              order: 1;
            }
            .logo3{
              order: 5;
            }
            
            .logo4{
              order: 4;
            }
            
            .logo5{
              order: 2;
            }        
    }
   
  
    
    
    
}
footer{
    padding: 50px;
    a:hover{
        color: var(--color);
    }
    
    h4{
        display: inline;
        font-size: 26px;
        font-weight: 900;
        width: 121px;
    }
    


    p{
        display: inline;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        margin: 0px;
    }

    .footer-column h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .footer-column ul {
        list-style-type: none;
        padding: 0;
    }
    .footer-column ul li {
        margin-bottom: 5px;
    }
    .footer-private{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 30px;
    }
    @media screen and (max-width: 576px){
        .footer-logo{
            margin-bottom: 10px;
        }
        img{
            width: 60px;
        }
        h4{
        font-size: 22px;
        width: 75px;

    }

    .footerRow{
        gap: 20px;
    }
    .footer-private{

        flex-direction: column;
        align-items: start;
    }
    }
}
